<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <WindowsFormsApplication1.Properties.Settings>
            <setting name="consumeWebservice_wsFechaHora_wsFechaHora" serializeAs="String">
                <value>https://sistema.facturaselectronicascfdi.com/wsFechaHora.asmx</value>
            </setting>
            <setting name="consumeWebservice_PruebasWsTimbradoTexto33_wsTimbradoTexto33"
                serializeAs="String">
                <value>http://localhost:53723/wsTimbradoRetencionesTexto.asmx</value>
            </setting>
            <setting name="consumeWebservice_PruebasWsCancelar33_wsCancelar33"
                serializeAs="String">
                <value>http://pruebas.facturaselectronicascfdi.com/WsCancelar33.asmx</value>
            </setting>
            <setting name="consumeWebservice_WsPruebasPrimarioSIFEI_wsTimbradoTextoPrimario33"
                serializeAs="String">
                <value>http://sppruebas.facturaselectronicascfdi.com/wsTimbradoTextoPrimario33.asmx</value>
            </setting>
        </WindowsFormsApplication1.Properties.Settings>
    </applicationSettings>
</configuration>